
.card {
  width: 450px;
  height: 350px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adicione uma sombra suave */
  padding: 30px;
  margin: 30px;
  transition: transform 0.2s ease;
  align-items: center;
  justify-content: center;

}

/* Adicione um efeito de elevação ao passar o mouse */
.card:hover {
  transform: translateY(-20px); /* Elevar o card em 5 pixels */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Aumente a sombra ao elevar o card */
}

.card .titulos {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
}

.card .content {
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 10px;
}


.button-whats {
  text-align: center;
  margin-top: 20px;
}

button {
  display: flexbox;
  background-color: #128C7E;
  color: #FFF;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 24px;
}

button:hover {
  background-color: #25D366;
}

@media screen and (max-width: 768px) {
  .card {
    width: 330px;
    height: 450px;
  }

}
