<div>
  <mat-card class="card">
    <mat-card-title class="titulos">
      Internet e Tecnologias
    </mat-card-title>
    <mat-card-subtitle class="content">
      Acho bastante interessante pensar sobre este assunto, pois é bastante atual e pode ser tanto uma gigantesca ferramenta para o crescimento, como também pode ser uma tragédia na vida de muitas pessoas.
    </mat-card-subtitle>
    <mat-card-actions>
      <button mat-button routerLink="/article1">Leia Mais!</button>
    </mat-card-actions>
  </mat-card>
  </div>

