<head>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet"></head>
  <link rel="stylesheet"
  href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
<body>
<div class="menulateral">

  <ul class="items-menu">
    <li><i class="ri-account-circle-fill"></i><a routerLink="#" routerLinkActive="active"> Cadastro </a></li>
    <li><i class="ri-door-open-fill"></i><a routerLink="#" routerLinkActive="active"> Sala de Atendimento </a></li>
    <li><i class="ri-calendar-check-fill"></i><a routerLink="#" routerLinkActive="active"> Agendamentos </a></li>
    <li><i class="ri-wallet-3-fill"></i><a routerLink="#" routerLinkActive="active"> Pagamentos </a></li>
  </ul>
</div>

</body>
