  <h2 class="titulos">Passando pela COVID-19 Sem traumas</h2>
  <h3>26 DE MARÇO DE 2020</h3>
  <h4>Por: Sámara Lopes Ninahuaman <br>
      Psicóloga Clínica e Escolar</h4>

<div class="container">

<div class="initial-letter">
  Neste cenário que estamos vivendo existem pessoas que estão ficando paranoicas e pessoas que estão em total negação. Estas duas reações mostram um sistema nervoso central bagunçado com todos estes estímulos intensos que estão ocorrendo ao mesmo tempo.
  Lidar com o medo da ameaça invisível, com a incerteza de quanto tempo ficará nesta situação e com o estresse gerado pela quantidade e qualidade das informações que circulam e mudam a cada instante pode ser exaustivo para o corpo e mente do adulto, do adolescente e da criança.
  Como então aumentar a resiliência e passar por esta situação com potencial traumático sem se traumatizar? Como tornar nossos queridos à prova de trauma?
</div>

<img src="../../../../assets/padroesdeestresse.jpg" alt="Imagem de apresentação">

<p class="content">
  Cuidar e liderar aqueles que estão sob sua responsabilidade precisa ser feito de forma a não desesperar, porem informar e conscientizar para que eles entendam a situação sem ficar traumatizados.
  Como evitar o trauma?
</p>
<p class="texto-destaque">
  Mantenha as rotinas possíveis.
</p>
<p class="content">
  Acorde no mesmo horário que acordaria normalmente e tome um banho como se fosse para o trabalho. Prepare as crianças como se fossem à escola, vista nelas o uniforme e estabeleça que o momento que estariam na escola, vão estar em casa fazendo atividades escolares disponibilizadas pelo programa escolar ou atividades educativas. A vida sempre continua, de uma forma diferente cada dia, porém, continua. Manter as rotinas possíveis vai fazer com que seu cérebro e corpo tenham tempo para se adaptar as coisas que precisam ser alteradas e estão fora do nosso controle.
  Dica: Videogame pode acalmar o estresse, porem se ficar o dia todo jogando vai se tornar apenas um comportamento automático e vai perder o sentido. Organize momentos para jogar e sentir o alívio do estresse e momentos para estudar, se relacionar com os outros e aprender coisas novas.
    </p>
<p class="texto-destaque">
  Evite passar o dia todo nas mídias sociais e assistindo a noticiários.
</p>
<p class="content">
  O estresse que adoece é aquele que estimula o sistema nervoso de forma imprevisível e sem controle.
  Mude o padrão deste estresse organizando os momentos para horários específicos, tornando assim o estresse previsível e controlável pelo menos dentro de seu corpo e de sua casa.
</p>

<ul>
  <li>1 hora no período da manhã, mas de preferência não assim que acordar.</li>
  <li>1 hora no período da tarde, mas de preferência com duas horas de distancia da hora que irá dormir.</li>
</ul>

<p class="content">
  Para cada dia basta o seu mal. E por pior que ele tenha sido a noite sempre vem com a possibilidade de se restaurar. Se organize para ter uma boa noite de sono, se você for dormir as 22h00 pare de assistir notícias e desligue todas as telas às 20h00, para dar tempo ao seu sistema de se reorganizar, se acalmar e descansar numa boa noite de sono.
  Evite assistir notícias em momentos que seus filhos estejam na sala. Eles podem não compreender racionalmente tudo que está se passando, porém, o corpo deles vai sentir em seu corpo a angustia e o medo que você está sentindo e irão se estressar também.
</p>
<p class="texto-destaque">
    Acalme seu sistema nervoso antes de interagir com suas crianças.
</p>

<p class="content">
  Desta forma você conseguirá se relacionar de forma mais saudável e poderá prevenir que este momento se torne um trauma em você e em sua criança.
  Três maneiras de você acalmar seu sistema nervoso estressado:
</p>

<ul>
  <li>De cima para baixo: Falar racionalmente que “existem poucas possibilidades de você pegar”, e que “está seguindo todas as precauções”, “isto logo vai passar”. Sua cabeça pode tranquilizar seu corpo. Porem, se você naturalmente é mais ansioso esta estratégia cognitiva pode não ser suficiente.</li>
  <li>De baixo para cima: Fazer uma caminhada, ouvir música, fazer algo artístico. Seu corpo pode tranquilizar sua mente, mas precisa fazer isso com a frequência necessária para manter a calma. Exemplos: 5 minutos de caminhada, 5 minutos de alongamento, 5 minutos de respiração concentrada.</li>
  <li>Conectar-se com outras pessoas: esta é a forma mais eficaz de se regular, porem em momentos de distanciamento social, podemos cair no isolamento e solidão. Aproveite ferramentas com chamada de vídeo para se conectar emocionalmente com os outros e praticar o distanciamento físico, mas não social.</li>
</ul>

<p class="content">
  Mude a forma de ver sua casa, ela não é uma prisão, você não está preso. Sua casa é seu refúgio, você e sua família estão tendo uma oportunidade única de realmente se aproximar e criar uma conexão profunda.
  Este momento logo vai passar e virar história, mas os vínculos criados serão eternos e poderão transformar gerações.
  <br>Texto inspirado no Podcast: Bruce Perry, MD, PhD. Staying Emotionally Close in the Time Of COVID-19.
  Disponível em: https://www.thetraumatherapistproject.com/podcast/bruce-perry-md-phd-staying-emotionally-close-in-the-time-of-covid-19/

</p>

</div>

<div class="container-frases-chave frases-chave">

  "Vencer o COVID-19 é um exemplo claro de que juntos somos mais fortes e capazes de superar desafios."

  <div class="button-whats">
    <a href="https://wa.me/5511995110834" target="_blank">
        <button>Posso te ajudar?</button>
    </a>
  </div>
</div>

<div class="imagem"></div>
