<head>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet"></head>


<body>
<div class="footer">
	<div>
		<a href="mailto:sami.nina.dev@gmail.com">Desenvolvido com <i class="ri-heart-fill"></i> por Samara Ninahuaman</a>
	</div>
  <div class="icons-box">
    <a href="https://www.instagram.com/psico.sami/" target="_blank">
      <img src="../../../assets/instagram.png" alt="link para perfil do instagram"/>
    </a>
    <a href="https://wa.me/5511995110834" target="_blank">
      <img src="../../../assets/whatsapp.png" alt="link para abrir uma conversa no whats"/>
    </a>

	</div>
</div>
</body>
