<head>
  <meta charset="UTF-8">
  <title>Movimentos da Psiquê</title>
  <meta name="description" content="O site Movimentos da Psiquê é uma clínica de atendimento on-line que oferece informações sobre saúde mental, desenvolvimento pessoal e alívio dos sintomas de estresse pós-traumático. Agende uma consulta online e leia artigos interessantes sobre esses assuntos e muito mais.">
  <meta property="og:description" content="O site Movimentos da Psiquê é uma clínica de atendimento on-line que oferece informações sobre saúde mental, desenvolvimento pessoal e alívio dos sintomas de estresse pós-traumático. Agende uma consulta online e leia artigos interessantes sobre esses assuntos e muito mais.">
  <meta name="twitter:description" content="O site Movimentos da Psiquê é uma clínica de atendimento on-line que oferece informações sobre saúde mental, desenvolvimento pessoal e alívio dos sintomas de estresse pós-traumático. Agende uma consulta online e leia artigos interessantes sobre esses assuntos e muito mais.">
  <meta name="keywords" content="clínica de atendimento on-line, desenvolvimento pessoal, alivio dos sintomas de estresse pós traumático">
</head>
<body>
  <div>
    <app-menu/>
  </div>
<div class="header">
  <h2>"Uma gota pode mover um oceano!"</h2>
</div>
</body>
