
  <h2 class="titulos">Trauma e Corpo</h2>

  <h3>23 DE OUTUBRO DE 2023</h3>
  <h4>Por: Sámara Lopes Ninahuaman <br>
      Psicóloga Clínica e Especialista em Trauma</h4>

<div class="container">
<div class="initial-letter">
  O DSM nos traz a descrição do TEPT - Transtorno de Estresse Pós Traumático, que descreve um quadro onde a pessoa apresenta sintomas corporais e mentais relacionados ao evento estressante algum tempo após ter ocorrido.
  Vamos focar então no estresse
  Uma pessoa comum ira dizer, “nossa, hoje eu estou muito estressada”, e provavelmente irá se basear em sensações corporais ou estados mentais para dizer isso. Sensações como coração acelerado, suor, apreensão e/ou estados mentais como pensamentos agitados, exaustão mental. E ela está em certa em considerar tudo isso estresse.
</div>
<p class="texto-destaque">
  Porém ao contrário do que muitas vezes desejamos, é impossível viver sem estresse. Sem estresse não haveria vida.
</p>
<p class="content">
  Vou te explicar o porquê.
  O estresse saudável é uma reação de defesa do organismo frente a um estímulo, que pode ser real ou imaginário. Esse estímulo é percebido como perigoso ou ameaçador e o corpo se prepara para fugir, lutar ou congelar. Se ele não existisse não iriamos conseguir reagir as demandas do dia a dia e estaríamos completamente vulneráveis.
  Quando pensamos em alguém estressado, logo imaginamos uma pessoa muito reativa, e quando pensamos em alguém zen, logo imaginamos uma pessoa tranquilona, pouco reativa.
  Na vida precisamos conseguir transitar entre estes dois estados:
</p>

<ul>
  <li>Ativados e cheios de estresse para trabalhar, dirigir, fazer acontecer. </li>
  <li>Desativados e sem estresse para descansar e se conectar com os outros.</li>
</ul>

<p class="content">
  Acontece que por vezes na vida passamos por <strong>situações muito desafiadoras</strong>, que acabam bagunçando essa transição entre estes dois estados e podem nos deixar demasiadamente estressados, ou, demasiadamente relaxados.
</p>
<p class="texto-destaque">
  "Trauma é tudo aquilo que aconteceu cedo demais, rápido demais ou forte demais." (Dr. Peter Levine)
</p>

<p class="content">
O Dr. Peter Levine, psicólogo, autor de diversos livros deste tema como o “Despertar do Tigre – curando o trauma”, e criador da Somatic Experiencing, que é uma terapia alternativa que utiliza as sensações corporais para o alívio dos sintomas de estresse e elaboração do trauma.
Pode ter sido muito cedo, como muitas crianças acabam vivenciando ao verem seus pais fora de controle, gritando um com o outro e por vezes partindo para violência física.
Ou seja, pode ter sido muito rápido, como aquela vez que você estava dirigindo e buum, não deu nem tempo de desviar do carro que te ultrapassou pela direita.
Pode ter sido muito forte, como a vivência de um trauma coletivo mundial do COVID-19.
<strong>Rápido demais, Cedo demais, Forte demais</strong> para que o sistema nervoso conseguisse reagir de forma adequada. Gerando sentimentos de insegurança, impotência e desamparo e por vezes prejudicando a nossa relação com o outro e com o mundo.
Essas cicatrizes emocionais podem ser vivenciadas após o evento potencialmente traumático ter ocorrido, algumas vezes décadas após o evento. A reação fisiológica e mental a essas cicatrizes são o que chamamos de estresse pós-traumático.
É praticamente impossível passar por esta vida sem ter algumas cicatrizes, os exemplos que citei são apenas alguns dos que pode ocorrer, mas eu tenho uma boa notícia para vocês.
Assim como nosso sistema nervoso tem um programa especializado em nos preparar para lutar, fugir ou congelar, ele também tem um programa especializado em nos regular, descarregar e relaxar.
E é através desses dois programas que psicólogos e psiquiatras, principalmente aqueles que tem um olhar especial para a conexão mente e corpo, conseguem atuar no alívio de sintomas e na elaboração de traumas.
Através de uma conexão segura com um outro ser humano, é possível voltar a se sentir seguro em si mesmo e em relação ao mundo.
</p>

<p class="content">
  Nosso sistema nervoso tem pelo menos três formas de se autorregular.
</p>

<ul>
  <li>Mentalmente: racionalizando sobre a situação e encontrando mentalmente motivos para se sentir seguro. (Eu já passei por isso outras vezes e fiquei bem)</li>
  <li>Fisicamente: fazendo exercícios de respiração pausada, proporcionando sensações agradáveis ao corpo, se está com frio pegar um cobertor.</li>
  <li>Socialmente: se conectando com quem esta ao seu redor e pode lhe auxiliar, ou que você possa auxiliar. Quando ajudamos outro que esteja numa situação mais delicada, acabamos sentindo potência numa situação que estaríamos impotentes e isso pode fazer com que você passe por uma situação potencialmente traumática sem se traumatizar.</li>
</ul>

<p class="content">
  Ter um acompanhamento profissional é o mais aconselhável para tratar traumas. Porem, em situações menos desafiadoras e até mesmo numa situação emergencial de primeiros socorros, podemos nos auto-regular e também auxiliar as pessoas próximas que precisem de ajuda.
Pois um sistema nervoso regulado, que consiga transitar entre o estado ativado do estresse e desativado, pode regular um sistema nervoso desregulado.
</p>

</div>

<div class="container-frases-chave frases-chave">

  "O trauma não reside nos eventos, mas sim na experiência somática que eles deixam para trás."
  - Peter Levine
  <div class="button-whats">
    <a href="https://wa.me/5511995110834" target="_blank">
        <button>Posso te ajudar?</button>
    </a>
  </div>
</div>

<div class="imagem"></div>
