  <h2 class="titulos">
  Internet e Tecnologias</h2>

  <h3>21 DE SETEMBRO DE 2017</h3>
  <h4>Por: Sámara Lopes Ninahuaman <br>
      Psicóloga Clínica e Escolar</h4>

<div class="container">

<!-- <img src="../../../assets/FotoPerfil.jpg" alt="Imagem de apresentação"> -->
<div class="initial-letter">
  Recentemente fiz uma pesquisa perguntando aos pais de minha escola quais assuntos gostariam que fossem trabalhados.
  Um dos que mais apareceu foi a questão dos malefícios do uso excessivo da internet.
  Acho bastante interessante pensar sobre este assunto, já que é bastante atual e pode ser tanto uma gigantesca ferramenta para o crescimento como pode ser a tragédia na vida de muitas pessoas.
  A internet chegou não faz muito tempo, surgiu no período da Guerra Fria, com o objetivo de servir como meio de comunicação caso os outros meios mais convencionais fossem destruídos por um ataque.
  Também era utilizada por estudantes e professores universitários para troca de ideias, mensagens e descobertas científicas.
  Popularizou-se somente em 1990 quando o engenheiro inglês Tim Bernes-Lee desenvolveu o tão conhecido Worl Wide Web (www) utilizado para acessar sites com todo tipo de conteúdo disponível.
  A internet teve uma expansão muito acelerada, pois resolvia rapidamente aparentemente qualquer problema e facilitava a vida de todo mundo.
  Hoje em dia você pode fazer compras sem sair de casa, receber seu produto vindo do outro lado do mundo por um preço muito mais acessível.
  Pode realizar pesquisas em qualquer área e se tornar um especialista sem sair de casa. Augusto Cury, um escritor famoso comenta que “hoje, uma criança de sete anos tem mais informação do que um imperador romano”.
  Pode estudar a distancia, ter acesso a diversos vídeos com tutoriais de faça você mesmo, estudar línguas, ter noticias sobre o mundo todo em tempo real e sem gastar um centavo.
  Pode se entreter com series e filmes, jogos, tanto de forma gratuita como paga.
  Pode ate mesmo ter um bichinho virtual caso seu apartamento não aceite animais.
  Pode conversar e ver um parente, amigo que mora em outro país como se estivessem os dois na mesma sala, conhecer pessoas de outros países e outras culturas sem precisar viajar longas distâncias.
  Uma pessoa tímida e retraída pode falar livremente sem precisar mostrar sua insegurança através de um chat de relacionamentos.
</div>
<p class="texto-destaque">
  A internet e as tecnologias possuem muitos pontos positivos.
  Porém, também possuem pontos negativos.
</p>
<p class="content">
  Hoje em dia, você pode acessar conteúdo violento a qualquer momento do dia, que muitas vezes não precisava ser visto, e que pode gerar ansiedade e insegurança.
  Pode acessar conteúdo não indicado para sua faixa etária, e desenvolver vícios que podem perdurar pela vida inteira prejudicando relacionamentos importantes.
  Pode estar acessível e a mercê de pessoas mal intencionadas que geralmente se passam por pessoas atenciosas e interessadas demais na sua vida. Se colocando em situações perigosas.
  Pode ser viciante fingir ser outra pessoa e nunca mostrar o seu realmente eu para alguém. Com o tempo você vai se acostumando com essa mascara e começa a acreditar de verdade que ela é melhor do que você jamais seria capaz de ser.
  A internet tanto nos notebooks como nos smartphones pode ser viciante com suas pequenas recompensas que não possuem um valor real, como um like no facebook, ou seguidores no instagram.
  Também pode ser um gerador de ansiedade, com os constantes avisos de mensagem.
  Geralmente as pessoas passam 15 minutos ou menos sem checar o celular atrás de alguma novidade, e geralmente se sentem ansiosas por poderem estar perdendo algo, ate que olham o celular e aliviam a tensão, mesmo não tendo nenhuma notificação realmente importante.
  Estão constantemente em estado de alerta e as notificações do celular as fizeram ficar assim.
  Isso atrapalha muito na concentração e também pode levar a sintomas físicos como aumento de pressão, dos níveis de cortisol, como o psicólogo Dr. Larry Rosen da Universidade do estado da Califórnia vem estudando recentemente.
</p>
<p class="texto-destaque">
  E o pior de todos em minha opinião:
</p>
<p class="content">
  Pode esquecer-se de viver plenamente com todos os sentidos, experimentando o mundo apenas através de uma tela e ensinar esse comportamento para seus filhos.
  Você já parou para pensar por que é tão nocivo para o desenvolvimento de uma criança/adolescente ter um pai/mãe depressivo?
  A depressão é um assunto tão vasto que seria melhor trabalhar em outra ocasião, mas de forma bastante resumida ela causa esse afastamento, esse desligamento da realidade, deixa você preso em outro momento, outra circunstância, quase tão nociva quanto à ansiedade, faz com que você não consiga se conectar verdadeiramente ao outro.
</p>
<p class="texto-destaque">
  Uma pesquisa feita com pais que utilizavam muito o celular tinham filhos com os mesmos efeitos colaterais de pais que sofriam de depressão?
</p>
<p class="content">
  Nossas tecnologias têm facilitado nos relacionarmos com o mundo inteiro em um click, porém tem nos afastado daqueles que estão tão próximos.
  Afinal o que é relacionar-se?
</p>
<p class="texto-destaque">
  Como podemos ensinar nossas crianças a se relacionar, se pouco sabemos sobre a textura do outro, seu cheiro, seu tom de pele, sua voz?
</p>
<p class="content">
  Depois de muito pensar sobre o assunto, chego à conclusão de que a internet não é nociva aos nossos filhos, ela é apenas uma ferramenta neutra, a forma como é utilizada que vai determinar sua qualidade.
  E quem a utiliza somos nós: Pais, Professores, Sociedade. Nossos filhos estão de olho em como estamos utilizando a internet e estão imitando nossos comportamentos.
  Algo esperado dentro do processo de desenvolvimento, quando pedimos que arrumem seus quartos, sejam gentis e educados, mas que esquecemos que também ocorre nos comportamentos compulsivos de comer, usar as tecnologias, entre outros.
  Eu particularmente me preocupo muito mais com todos os momentos que me pego olhando o celular sem um motivo maior ao invés de estar brincando ou observando os comportamentos das crianças sob minha responsabilidade.
  A internet e as tecnologias são prejudiciais quando elas afetam o meu relacionamento interpessoal direto, aquele que esta ali do meu lado, querendo interagir, chamando minha atenção de todas as formas possíveis.
  Precisamos dar atenção para o que realmente importa, estabelecer prioridades, saber quando dizer não, quando desligar o celular, a televisão, o notebook, e simplesmente olhar nos olhos do outro ser humano que precisa ser visto para existir, que precisa ser notado para se sentir amado e que precisa se relacionar para aprender a se relacionar.
</p>
  <p class="texto-destaque">
    Algumas dicas para pais e filhos:
  </p>
  <ul>
    <li>Estabeleça horários específicos para usar e tenha sempre em mente o objetivo para o qual escolheu utilizar a Internet/tecnologias.</li>
    <li>Esteja sempre atento ao que você realmente precisa e o que está empurrando para você comprar nos diversos ads que aparecem em sites, Facebook, Aplicativos e E-mails.</li>
    <li>Busque diariamente um momento para estar off-line e realmente se conectar com quem está ao seu redor.</li>
    <li>Sempre que for postar algo, uma foto, um texto ou uma informação sobre você ou sua família na Internet, pense duas vezes e tenha em mente que o que está na rede não sai mais da rede e pode ter consequências eternas que podem afetar sua vida off-line.</li>
    <li>Ao invés de checar o Facebook para saber as novidades na vida de alguém, gaste 5 minutos e ligue para essa pessoa, escute ela contar em primeira mão os ocorridos, isso vai fazer com que ela se sinta mais feliz e amada do que apenas recebendo um like na rede social.</li>
  </ul>
<p class="texto-destaque">
  A vida é muito boa e passa muito rápido para vivermos apenas parte de toda a experiência que poderíamos viver!
</p>
</div>

<div class="container-frases-chave frases-chave">

  "Não deixe que a tecnologia limite sua capacidade de se conectar pessoalmente <br> com aqueles que estão à sua volta."
      <br>Catherine Pulsifer

  <div class="button-whats">
    <a href="https://wa.me/5511995110834" target="_blank">
        <button>Posso te ajudar?</button>
    </a>
  </div>
</div>

<div class="imagem"></div>
