body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: "Goudy Od Style", sans-serif;
  font-size: 1em;
  line-height: 2.6em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh; /* Define a altura total da página */
}

.titulos {
  font-size: 2em;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

h2 {
  padding-bottom: 20px;
}

.content1, .content2 {
  flex: 1; /* Os elementos ocuparão o espaço disponível verticalmente */
  display: flex;
  justify-content: space-between;
  text-align: justify;
}

.sobre, .publico-alvo, .abordagem, .tecnicas-corporais {
  width: 50%;
  padding: 60px;
  font-size: 2em;
}

.container-frases-chave {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightslategrey;
  padding-top: 50px;
  padding-bottom: 50px;
}

.imagem {
  width: 100%;
  height: 500px;
  background-image: url('../../../assets/uma-cachoeira.jpg');
  background-size: cover;
  background-position: center;
}

/* Estilos para o texto das frases-chave */
.frases-chave {
  text-align: center;
  font-size: 2em;
}

/* Estilos para o botão do WhatsApp */
.button-whats {
  text-align: center;
  margin-top: 20px;
}

.button-whats button {
  display: flexbox;
  background-color: #128C7E;
  color: #FFF;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 24px;
}

.button-whats button:hover {
  background-color: #25D366;
}

/* Media query para dispositivos menores, como celulares */
@media screen and (max-width: 768px) {
  .titulos {
    font-size: 1.3em;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .frases-chave {
    text-align: center;
    font-size: 1.5em;
  }

  .container-frases-chave {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .content1, .content2 {
    display: block;
    text-align: center;
  }

  .sobre, .publico-alvo, .abordagem, .tecnicas-corporais {
    width: 100%;
    padding: 40px;
    font-size: 1.5em;
  }

.imagem {
  width: 100%;
  height: 250px;
}
  /* Outras alterações específicas para telas menores */
}
