<div class="titulos">
  <h1>Somatic Experiencing®</h1>
</div>
<div class="content1">
  <div class="sobre">
    <h2>Sobre</h2>
    <p>O Somatic Experiencing® é um método terapêutico criado por Peter Levine para ajudar as pessoas a lidar com traumas e problemas emocionais.
      <BR> Ele se concentra em entender como o corpo responde ao estresse e trauma, buscando liberar as tensões acumuladas.
      <BR> Os atendimentos são realizados de forma individual e on-line.
      <BR> Utilizaremos a própria plataforma do site para fazer as vídeo chamadas.
    </p>
  </div>

  <div class="publico-alvo">
    <h2>Público Alvo</h2>
    <p>Atendemos jovens e adultos a partir de 18 anos.
      <BR> O método é indicado para qualquer pessoa que tenha passado por situações traumáticas ou que enfrente problemas emocionais, como estresse, ansiedade ou pânico.
      <BR> Ele ajuda a criar um ambiente seguro para explorar as sensações físicas e emocionais, facilitando a recuperação e a cura.
    </p>
  </div>
</div>

<div class="content2">
  <div class="abordagem">
    <h2>Abordagem</h2>
    <p>Ao enfrentar situações difíceis, o corpo pode ficar preso em respostas de luta, fuga ou congelamento, causando ansiedade, medo e outras dificuldades.
      <BR> O Somatic Experiencing® ajuda a liberar essas energias bloqueadas, permitindo que o corpo processe naturalmente os eventos traumáticos.
    </p>
  </div>

  <div class="tecnicas-corporais">
    <h2>Em resumo</h2>
    <p>O Somatic Experiencing® do Peter Levine é uma abordagem terapêutica que trabalha com o corpo e a mente para ajudar a superar traumas e resolver problemas emocionais, permitindo que as pessoas encontrem um caminho mais saudável e equilibrado para suas vidas.
    </p>
  </div>

</div>



<div class="container">


  <div class="container-frases-chave">
    <p class="frases-chave">
      "O corpo sempre sabe como curar a si mesmo. <BR>
        O desafio é silenciar a mente."
        <br>Peter A. Levine
      </p>
      <div class="button-whats">
        <a href="https://wa.me/5511995110834" target="_blank">
          <button>Posso te ajudar?</button>
        </a>
      </div>
    </div>
    <div class="imagem"></div>
