<div class="titulos">
<h1>Modalidades de Atendimento:
</h1>
</div>
<div class="card-container">
<div class="content-card-psico">
  <app-card-modalidades/>

</div>
<div class="card-container">
  <div class="content-card-se">
  <app-somatic-experiencing/>

  </div>
</div>

<div class="container-frases-chave">
  <p class="frases-chave">
    “O encontro de duas personalidades é como o contato entre duas substâncias químicas:<BR>
    Se houver alguma reação, ambas são transformadas.”
      <br>Carl G. Jung
  </p>
  <div class="button-whats">
    <a href="https://wa.me/5511995110834" target="_blank">
        <button>Posso te ajudar?</button>
    </a>
  </div>
</div>

