body {
  margin: 0;
  padding: 0;
  font-family: "Goudy Od Style", sans-serif;
  font-size: 1em;
  line-height: 2em;
  display: flex;
  flex-direction: column;
 /* Define a altura total da página */
}

.titulos {
  font-size: 2em;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

h2 {
  padding-bottom: 20px;
}

.card-container {
  flex: 1; /* Os elementos ocuparão o espaço disponível verticalmente */
  display: flex;
  text-align: justify;
  height: 700px;
  justify-content: center;
  align-items: center;
}

.container-frases-chave {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightslategrey;
  padding-top: 50px;
  padding-bottom: 50px;
}

.imagem {
  width: 100%;
  height: 500px;
  background-image: url('../../../assets/blog.jpg');
  background-size: cover;
  background-position: center;
}

/* Estilos para o texto das frases-chave */
.frases-chave {
  text-align: center;
  font-size: 2em;
}

/* Estilos para o botão do WhatsApp */
.button-whats {
  text-align: center;
  margin-top: 20px;
}

.button-whats button {
  display: flexbox;
  background-color: #128C7E;
  color: #FFF;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 24px;
}

.button-whats button:hover {
  background-color: #25D366;
}

.content-card1 {
  align-items: center;
  justify-content: center;
}

.content-card2 {
  align-items: center;
  justify-content: center;
}

.content-card3 {
  align-items: center;
  justify-content: center;
}
/* Media query para dispositivos menores, como celulares */
@media screen and (max-width: 1090px) {
  .titulos {
    font-size: 1.3em;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .frases-chave {
    text-align: center;
    font-size: 1.5em;
  }

  .container-frases-chave {
    padding: 30px;
  }

  .card-container {
    display: block;
    text-align: center;
    height: 3000px;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

.imagem {
  width: 100%;
  height: 250px;
}
  /* Outras alterações específicas para telas menores */
}
