<body>

  <div class="titulos">
    <h1>Blog:
    </h1>
  </div>
  <div class="card-container">
    <div class="content-card1">
      <app-card1/>

    </div>

    <div class="content-card2">
      <app-card2/>
    </div>

    <div class="content-card3">
      <app-card3/>
    </div>
</div>

  <div class="container-frases-chave">
    <p class="frases-chave">
      "A leitura é para a mente o que o exercício é para o corpo."
      <br>Joseph Addison
    </p>
    <div class="button-whats">
    <a href="https://wa.me/5511995110834" target="_blank">
      <button>Dê sugestões de temas!</button>
    </a>
  </div>
</div>
</body>
<div class="imagem"></div>

