<div class="titulos">
    <h2>Seja bem-vindo ao "Movimentos da Psiquê"</h2>

</div>

<div class="container">

  <img src="../../../assets/FotoPerfil.jpg" alt="Imagem de apresentação">
  <p class="apresentacao-home">
        Você se sente paralisado na vida?<br>
        <br>Às vezes, você percebe o que precisa mudar algo, mas a sensação de paralisia persiste, como se algo estivesse te segurando. Não se preocupe, estou aqui para te ajudar a destravar os bloqueios emocionais que te paralisam.
        <br><br>Lembre-se de que seu passado não precisa controlar seu futuro. Juntos, podemos transformar seu passado em potência.
        <br><br>Aqui, você encontrará uma escuta especializada e um acolhimento eficaz para transformar sua história, permitindo que você se liberte.
        <br><br>Chegou o momento de agendar a sua sessão e dar início à sua jornada de transformação.
      </p>

</div>
<div class="button-whats">
  <a href="https://wa.me/5511995110834" target="_blank">
      <button>Agendar uma Sessão!</button>
  </a>
</div>

<div class="container-frases-chave">
    <p class="frases-chave">
        “Quem olha para fora, sonha; <br>quem olha para dentro, desperta.”
        <br>Carl G. Jung
    </p>

</div>

<div class="imagem"></div>


