<div class="titulos">
    <h2>Bem-vindo!</h2>

</div>

<div class="container">

  <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=656,h=875,fit=crop/dOqXv6XrWwfR2JgK/fotoperfil-AzGyL1rrELuJoWvd.jpg" alt="Imagem de apresentação">
  <p class="apresentacao-home">
        Este nome vem da ideia de que a psiquê, apesar de ser algo abstrato, está sempre em movimento.
        <br>Tanto no sentido de auto desenvolvimento como nos movimentos que o corpo concreto realiza.
        <br><br>Neste ponto de vista, corpo e mente são interligados e se afetam positivamente e negativamente em mão dupla.
        <br><br>Por anos, a psicoterapia tradicional desconsiderou o corpo, focando suas atenções somente nas manifestações da psiquê, como pensamento abstrato.
        <br><br>Provavelmente, para criar uma distinção da medicina e psiquiatria, primeira formação dos grandes pensadores da psicologia.
        <br><br>Mas cada vez mais o trabalho com o corpo tem se mostrado um grande aliado nos processos psicoterapêuticos. Em alguns casos, sendo o grande diferencial.
        <br><br>A vida está no movimento. Aquilo que permanece parado é esquecido.
        <br><br>Vem se movimentar com a gente!
  </p>
</div>

<div class="container-frases-chave">
    <p class="frases-chave">
        “Quem olha para fora, sonha; <br>quem olha para dentro, desperta.”
        <br>- Carl G. Jung
    </p>
    <div class="button-whats">
      <a href="https://wa.me/5511995110834" target="_blank">
          <button>Posso te ajudar?</button>
      </a>
    </div>
</div>

