:root {
  --primary-color: rgb(157, 60, 114);
  --secondary-color: rgb(255, 208, 0);
  --primary-color-soft: rgb(200, 92, 142);
  --submmit-color: rgb(21, 206, 89);
  --darker-submmit-color: rgb(10, 99, 43);
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: "Goudy Od Style", sans-serif;
  font-size: 1em;
  line-height: 2.6em;
}

h1, h2, h3 {
  text-align: center;
  font-size: 2em;
}

.container {
  display: flex; /* Usa flexbox para alinhar a imagem e o texto lado a lado */
  align-items: center; /* Centraliza verticalmente o conteúdo */
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
}

.titulos {
  font-size: 2em;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* Estilos para a imagem */
.container img {
  width: 450px; /* Largura da imagem */
  margin-right: 40px; /* Define um espaço entre a imagem e o texto */
  border-radius: 75px;
}

/* Estilos para a apresentação */
.apresentacao-home {
  font-size: 1.7em;
  text-align: justify;
  width: 80%;
}

/* Estilos para a caixa de frases-chave */
/* Estilos para o contêiner das frases-chave */
.container-frases-chave {
  display: block;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  background-color: lightslategrey;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* Estilos para o texto das frases-chave */
.frases-chave {
  text-align: center;
  font-size: 2em;
}

/* Estilos para o botão do WhatsApp */
.button-whats {
  text-align: center;
  margin-top: 20px;
}

.button-whats button {
  display: flexbox;
  background-color: #128C7E;
  color: #FFF;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 24px;
}

.button-whats button:hover {
  background-color: #25D366;
}

.imagem {
  width: 100%;
  height: 500px;
  background-image: url('../../../assets/borboletahome.jpg');
  background-size: cover;
  background-position: center;
}

/* Media query para dispositivos menores, como celulares */
@media screen and (max-width: 768px) {
  body {
    font-size: 1em; /* Reduza o tamanho da fonte para telas menores */

  }

  .titulos {
    font-size: 1.5em;
    padding-bottom: 10px;
  }

  .container {
    padding: 20px; /* Reduza o padding para telas menores */
    flex-direction: column; /* Altere a direção do flex container para ficar em coluna */
  }

  .container img {
    width: 75%; /* A imagem ocupará 100% da largura do container em telas menores */
    max-width: none; /* Remova a largura máxima da imagem em telas menores */
    margin-right: 0; /* Remova o espaço entre a imagem e o texto em telas menores */
    margin-bottom: 20px; /* Adiciona um espaço após a imagem */
  }

  .apresentacao-home {
    width: 100%; /* A apresentação ocupará 100% da largura do container em telas menores */
    text-align: center;
    font-size: 1.4em;
  }
  .frases-chave {
    text-align: center;
    font-size: 1.5em;
  }

  .imagem {
    width: 100%;
    height: 250px;
  }
  /* Outras alterações específicas para telas menores */
}
