<div class="titulos">
  <h1>Psicoterapia</h1>
</div>

<div class="content1">
  <div class="sobre">
    <h2>Sobre</h2>
    <p>Os atendimentos são realizados de forma individual e on-line.<BR>
      Utilizaremos a própria plataforma do site para fazer as vídeo chamadas.
    </p>
  </div>

  <div class="publico-alvo">
    <h2>Público Alvo</h2>
    <p>Atendemos jovens e adultos a partir de 18 anos.
    </p>
  </div>
</div>

<div class="content2">
  <div class="abordagem">
    <h2>Abordagem</h2>
    <p>A abordagem utilizada nos atendimentos é a Analítica Junguiana.<BR>
      Nesta abordagem vamos poder nos aprofundar em temas do passado, do presente e do futuro com um olhar cheio de simbologias e criatividade. <BR>
      Aqui poderemos conversar sobre seu dia a dia, suas relações, suas emoções e suas expectativas quanto ao seu próprio desenvolvimento pessoal.
    </p>
  </div>

  <div class="tecnicas-corporais">
    <h2>Técnicas Corporais</h2>
    <p>O corpo possui uma forte influência sobre a mente e vice-versa. <BR>
      Por isso acreditamos que a integração mente e corpo é fundamental para se conhecer plenamente e reorganizar vivências traumáticas.<BR>
        Através das técnicas corporais que envolvem o auto toque, percepção corporal e dinâmicas é possível se reconectar com essa parte de você que realmente experiência o mundo em que vivemos.
    </p>
  </div>

</div>


<div class="container">


</div>
<div class="container-frases-chave">
  <p class="frases-chave">
    “Até você se tornar consciente, <BR>
      o inconsciente irá dirigir a sua vida e você vai chamá-lo de destino.”
      <br>Carl G. Jung
    </p>
    <div class="button-whats">
      <a href="https://wa.me/5511995110834" target="_blank">
        <button>Posso te ajudar?</button>
      </a>
    </div>
  </div>
  <div class="imagem"></div>
