<head>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet"></head>
  <link rel="stylesheet"
  href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
<body>
  <header>
    <div class="logo">
      <a routerLink="/"><app-logo-full-white logoWidth="180"/></a>
    </div>
      <ul class="menubar">
        <li><a routerLink="/" routerLinkActive="active">| Home |</a></li>
        <li><a routerLink="/modalidades" routerLinkActive="active">| Modalidades |</a></li>
        <li><a routerLink="/blog" routerLinkActive="active">| Blog |</a></li>
      </ul>
      <div class="main">
        <a href="#" class="user"><i class="ri-user-fill"></i>Login</a>
        <a href="#">Registrar</a>
        <div class="bx bx-menu" id="menu-icon"></div>
      </div>
  </header>

</body>

