body {
  min-height: 5vh;
  background-color: black;
  color: white;
}

header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  padding-top: 10px;
  transition: all .50s ease;
}

.logo img{
  padding-top: 8px;
  width: 280px;
}

.menubar {
  display: flex;
}

.menubar a {
  color: white;
  font-size: 1.8em;
  font-weight: 700;
  transition: all .50s ease;
}

.menubar a:hover {
  color: rgb(176, 204, 232);
}

.menubar a:active {
  color: rgb(176, 204, 232);
}

.main {
  display: flex;
  align-items: center;
}

.main a {
  margin-right: 3px;
  margin-left: 5px;
  color: white;
  font-size: 1.6em;
  font-weight: 500;
  transition: all .50 ease;
}

.user {
  display: flex;
  align-items: center;
}

.user i {
  color: lightslategrey;
  font-size: 20px;
  margin-right: 7px;
}

.main a:hover {
  color: rgb(176, 204, 232);
}

#menu-icon {
  font-size: 35px;
  color: white;
  cursor: pointer;
  z-index: 10001;
  display: none;
}


@media (max-width: 768px) {
  .main a {
    font-size: 0.8em;
    margin-right: 5px;
    margin-left: 0px;
}
  .logo img {
    padding-top: 8px;
    width: 180px; /* Reduza o tamanho do logo para telas menores */
  }

  .menubar a {
    font-size: 1.3em; /* Reduza a proporção das letras dentro do menu hamburguer */
  }

  .user i {
    font-size: 15px;
  }
  header {
    padding: 14px 2%;
    transition: .2s;
  }

  .menubar a {
    padding: 5px 0;
    margin: 0px 20px;
  }
}

@media (max-width: 1280px) {
  #menu-icon {
    display: block;
  }
  .menubar {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 270px;
    height: 29hv;
    background: lightslategrey;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    transition: all .50s ease;
  }
}

.menubar.open {
  right: 2%;
}
